body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: linear-gradient(0.25turn, #3437f7, #34d4d7)
}
* {
  color: black;
}
